<div class="container">
  <div >
    <div >
      <div>

      <h2>Sign up</h2>

      <%= simple_form_for(@new_resource, as: :user, url: registration_path(:user)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first name" }%>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last_name" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          We're a picturebased site, so make everyone happy and upload your mug now!
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>

          <%= f.fields_for :tribe do |p| %>
            <%= p.input :name,
                        required: true,
                        input_html: { autocomplete: "last_name" }%> %>
          <% end %>

        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
