
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= asset_path("header-1024x498") %>');" alt="Banner" style="width:100vh">
  <div class="container">
    <h1>The family newspaper</h1>
    <h1>that unites generations</h1>
    <a class="btn btn-light" href="#">Subscribe now</a>
    <a class="btn btn-success2" href="#">Test me</a>
  </div>
</div>

<div class="banner2" alt="explication produit">
  <h3>Give the opportunity to your grandparents</h3>
  <h3>to follow their family news!</h3>
  <p>Social networks have become essential to communicate and take news of the family. However, most of the grandparents do not access it. Thanks to My Tribu News, the person of your choice receives every month in his letterbox a customised newspaper created especially for him via <strong>smartphone</strong> et <strong>computer</strong> or Facebook and Instagram.</p>
  <%= image_tag "TRIBU_JOURNAL_PRESSE" , alt: "Mon image",  class: "image" %>
  <div>
    <a class="btn btn-light" href="#" style="width: 200px;">Subscribe</a>
  </div>
</div>
<div class="banner3" alt="how it's working" style="">
  <h3 class="header-banner3">How is it working?</h3>

    <div class="howto" alt="block 1">
      <%= image_tag "how-visual-1-1" , alt: "Mon image1",  class: "images31" %>
    </div>
    <div class="howto" alt="block 2">
      <%= image_tag "how-visual-2-1" , alt: "Mon image2",  class: "images32" %>
      </div>
    <div class="howto" alt="block 3">
      <%= image_tag "how-visual-3-1" , alt: "Mon image3",  class: "images33" %>
      </div>

    <div class="howto" alt="block text 1">
      <h4 style="text-align: center;"><strong>1.)</strong> Log in</h4>
      <p>Create your family newspaper.</p>
    </div>
    <div class="howto" alt="block text 2">
      <h4 style="text-align: center;"><strong>2.)</strong> Invite your Tribufamily</h4>
      <p>Members of your Tribufamily add pictures and can connect their Facebook or Instagram accounts.</p>
    </div>
    <div class="howto" alt="block text 3">
      <h4 style="text-align: center;"><strong>3.)</strong> Edit the newspaper</h4>
      <p>Up to the last day of the month, you can delete, move, add pictures and messages.</p>
    </div>

  <div>
    <a class="btn btn-light" href="#" style="width: 200px;">Subscribe</a>
  </div>
</div>



</div>

<!-- const blabla = "<p class='test'>blabla</p>""
 -->
