<div class = "dashboard structure">

  <div class="sidebar">
    <div class="title-sidebar">
      <h3><%= @tribe.name%></h3>
    </div>
    <div class="action-sidebar">
      <div class="button-sidebar">
        <li>&nbsp&nbsp&nbsp <%= link_to 'Info', edit_tribe_path(current_user.tribe) %> <i class="fas fa-users"> </i></li>
        <li>&nbsp&nbsp&nbsp <%= link_to 'My Account', edit_user_registration_path %> <i class="fas fa-users">  </i></li>
        <li>&nbsp&nbsp&nbsp <%= link_to "Edit Newspaper", newspapers_show_path %> <i class="fas fa-users"> </i></li>
      </div>
    </div>
  </div>
  <div class="main-content-dashboard">

    <div class="tribe-avatar">
      <%= cl_image_tag @tribe.photo%>
    </div>
    <div class="countdown">
      <h2 class= "title-dashboard"> </h2>
      <div class="counter">
        <div id="demo"></div>
        <div class="description-counter">
          <li> days  </li>
          <li> hours</li>
          <li> minutes</li>
          <li> seconds</li> </div>
        </div>
        <div class="countdown-text">
          before printing your family newspaper
        </div>
      </div>

      <div class="action-edit">
        <h2 class= "title-dashboard"><%=  link_to 'Edit your Family Newspaper', newspapers_show_path  %></h2>
      </div>
    </div>
    <div class="member-list">
      <div class="member-select">
        <h2 class= "title-dashboard"> Members of your Tribe </h2>
        <%= render  'share/member-action', user: @user %>
        <% current_user.tribe.users.each do |user| %>
        <%= render  'share/member-tag', user: user %>
        <% end %>
      </div>

      <div class="member-list">
        <div class="member-select">
          <h2 class= "title-dashboard"> Tribe Chat </h2>
          <div class="chat-box">
          <% current_user.tribe.messages.each do |message| %>
          <%= message.user.first_name %> :
          <%= message.message %> <br>
          <% end %>
          </div>
          <div class="chat-action">
            <%= simple_form_for @message do |f| %>
            <%= f.input :message, as: :text %>
            <%= f.button :submit, class:'btn btn-infos' %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

