<div class = "dashboard structure">

  <div class="sidebar">
    <div class="title-side-bar" id="tribe_name">
      <h3 id="tribename_h3"><%= @tribe.name%></h3>
    </div>
    <div class="action-sidebar">
      <div class="button-sidebar">
        <li>&nbsp&nbsp&nbsp <%= link_to 'Info', edit_tribe_path(current_user.tribe) %> <i class="fas fa-users"> </i></li>
        <li>&nbsp&nbsp&nbsp <%= link_to 'My Account', edit_user_registration_path %> <i class="fas fa-users">  </i></li>
        <li>&nbsp&nbsp&nbsp <%= link_to "Edit Newspaper", newspapers_show_path %> <i class="fas fa-users"> </i></li>
      </div>
    </div>
    <div class="member-select">
      <div class="title-sidebar">
        <h3>your tribe members</h3>
      </div>
      <% current_user.tribe.users.each do |user| %>
      <%= render  'share/member-tag', user: user %>
      <% end %>
      <%= render  'share/member-action', user: @user %>
    </div>
  </div>
  <div class="main-content-dashboard"
  style='background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.2)), url(<%= @tribe.photo %>); background-size: cover; background-position:center'>

  <div class="dashboard-middle">
    <div class="countdown">
      <h2 class= "title-dashboard"> </h2>
      <div class="counter">
        <div id="demo"></div>
        <div class="description-counter">
          <li> days  </li>
          <li> hours</li>
          <li> minutes</li>
          <li> seconds</li>
        </div>
      </div>
      <div class="countdown-text">
        before printing your family newspaper
      </div>
    </div>

    <div class="action-edit">
      <h2 class= "title-dashboard"><%=  link_to 'Edit your Family Newspaper', newspapers_show_path  %></h2>
    </div>
  </div>

  <div class="member-select" id="chat-div">
    <h3 class= "title-dashboard"> Tribe Chat </h3>
    <div class="chat-box">
      <% current_user.tribe.messages.order("created_at ASC").each do |message| %>
      <%= message.user.first_name %> :
      <%= message.message %> <br>
      <% end %>
    </div>
    <div class="chat-action">
      <%= simple_form_for @message, html: {id: "container-chatbox"} do |f| %>
      <%= f.label "New message" %>
      <%= f.input :message, as: :text, input_html: {id: "chatbox-element"}, label: false %>
      <%= f.button :submit, class:'btn btn-infos' %>
      <% end %>
    </div>
  </div>
</div>


