<div class="layout" id="layout_04">

  <div class="photo-box pic photobook_pic" id="box_04_01" data-chosen="true" data-boxes="true" data-box-number="<%= @page.boxes.order("id ASC")[0].id%>" data-id="<%= @pic_boxes[0].try(:picture).try(:id) %>">
    <% if @newspaper.pages[current_page].boxes.order("id ASC")[0].picture.nil? %>
    <% else %>
        <%= image_tag @newspaper.pages[current_page].boxes.order("id ASC")[0].picture.photo.url(:layout_04) %>

    <%end%>
  </div>

  <%= simple_form_for(@text_boxes[0]) do |f| %>
  <div class="box text" content-editable = "true" id="box_04_02">
    <p><%= @newspaper.pages[current_page].boxes.order("id ASC").last.content_text %></p>
  </div>
  <%= f.hidden_field :content_text, value: "" %>
  <% end %>

  <div class="photo-box pic photobook_pic" id="box_04_02" data-chosen="true" data-boxes="true" data-box-number="<%= @page.boxes.order("id ASC")[1].id%>" data-id="<%= @pic_boxes[1].try(:picture).try(:id) %>">
   <% if @newspaper.pages[current_page].boxes.order("id ASC")[1].picture.nil? %>
   <% else %>
    <%= image_tag @newspaper.pages[current_page].boxes.order("id ASC")[1].picture.photo.url(:layout_04) %>

   <%end%>
   </div>
</div>
