<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "_pagelayouts_pdf" -%>
    <%= wicked_pdf_stylesheet_link_tag "pages/_newspaper_show" -%>
    <style>
      div.alwaysbreak { page-break-before: always; }
    </style>
  </head>
  <body>
    <div class="alwaysbreak">
    <%= render "pages/page_layouts_pdf/layout_#{@newspaper.pages[0].layout}", current_page: 0 %>
    </div>
    <div class="alwaysbreak">
    <%= render "pages/page_layouts_pdf/layout_#{@newspaper.pages[1].layout}", current_page: 1 %>
    </div>
    <div class="alwaysbreak">
    <%= render "pages/page_layouts_pdf/layout_#{@newspaper.pages[2].layout}", current_page: 2 %>
    </div>
    <div class="alwaysbreak">
    <%= render "pages/page_layouts_pdf/layout_#{@newspaper.pages[3].layout}", current_page: 3 %>
    </div>
    <div class="alwaysbreak">
    <%= render "pages/page_layouts_pdf/layout_#{@newspaper.pages[4].layout}", current_page: 4 %>
    </div>
    <div class="alwaysbreak">
    <%= render "pages/page_layouts_pdf/layout_#{@newspaper.pages[5].layout}", current_page: 5 %>
    </div>
     <div class="alwaysbreak">
    <%= render "pages/page_layouts_pdf/layout_#{@newspaper.pages[6].layout}", current_page: 6 %>
     </div>
    <div class="alwaysbreak">
    <%= render "pages/page_layouts_pdf/layout_#{@newspaper.pages[7].layout}", current_page: 7 %>
    </div>
    <div class="alwaysbreak">
    <%= render "pages/page_layouts_pdf/layout_#{@newspaper.pages[8].layout}", current_page: 8 %>
    </div>
    <div class="alwaysbreak">
    <%= render "pages/page_layouts_pdf/layout_#{@newspaper.pages[9].layout}", current_page: 9 %>
    </div>
    <div class="alwaysbreak">
    <%= render "pages/page_layouts_pdf/layout_#{@newspaper.pages[10].layout}", current_page: 10 %>
    </div>
    <%= render "pages/page_layouts_pdf/layout_#{@newspaper.pages[11].layout}", current_page: 11 %>
  </body>
</html>
