<div class="main-body newspaper-show">
  <div class="wrapper">
    <div class="library-pane">
      <div class ="library-header">
        <h3><%= @tribe.name%>'pictures</h3>
      </div>
      <% if @page.number == "2" %>
      <h4>GGGGGKAG JS AJ </h4>
      <% end %>
      <div class="library-byheader">
       <%= simple_form_for @new_picture do |f| %>
       <%= f.input :photo, input_html: { class: 'hidden', id: 'ugly_photo_upload' }, label_html: { class: 'hidden' }  %>
       <%= f.input :photo_cache, as: :hidden %>
       <%= f.hidden_field :page_id, value: @page.id%>
       <% end %>
       <div id="nice_upload_button" class="nice_button">add new pictures</div>
     </div>
     <div class = "library-content">
      <div class="pix-container" id="library">
          <% @newspaper.pictures.each do |pic| %>
             <% if pic.box.nil? %>
             <div class="pic dragged" data-chosen="false" data-id="<%= pic.id %>">
                <%= link_to '',  { action: :destroy, id: pic.id }, method: :delete, data: { confirm: 'Are you sure?' } , class: "fas fa-times-circle" %>
               <%= cl_image_tag(pic.photo, crop: :fill) %>
              </div>
             <%end%>
           <% end %>
      </div>
    </div>
  </div>
  <div class="middle-pane">
    <div class ="middle-header">
      <h3>edit your pages</h3>
    </div>
    <div class="middle-byheader">
      <div class="btn btn-lg" id="pages_number">
        <span class="num" style= "display: none"> <%= @page.number.to_i %> </span>
        <h3 id = "num-change-page"> Page n°<%= @page.number.to_i %></h3>
      </div>
      <div class="nice_button" id="btn_fullscreen"><i class="fas fa-expand"></i>
      </div>
    </div>
    <div class="middle-content">
      <div class ="page-back">
        <%= link_to newspapers_show_path(page_number: @page.number.to_i - 1 ) do %>
        <span class="arrow-sign" id = "back-button"><i class="fas fa-arrow-circle-left" ></i></span>
        <% end %>
      </div>
      <div class="edit-pane">
        <div class="page-edition">
          <%= render "pages/show" %>
        </div>

      </div>
      <div class="page-forward">
        <%= link_to newspapers_show_path(page_number: @page.number.to_i + 1) do %>

        <!-- here i could work with a form that does a submit, via js changepage.js -->
          <span class="arrow-sign" id = "forward-button"><i class="fas fa-arrow-circle-right"></i></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="layout-pane">
    <div class ="layout-header">
      <h3>page layout</h3>
    </div>
    <div class="layout-byheader">
    </div>


  </div>
</div>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
</div>

<script>
  const elem = document.querySelector('.fa-times-circle');
  console.log(elem);
  const myScript = () => {
    console.log('hello'); };
</script>
