
<div class="layout" id="layout_03">
  <div class="photo-box pic photobook_pic" id="box_03_01" data-chosen="true" data-boxes="true" data-box-number="<%= @page.boxes.order("id ASC")[0].id%>" data-id="<%= @pic_boxes[0].try(:picture).try(:id) %>">
    <% if @pic_boxes[0].nil? %>

    <% else %>
        <%= image_tag @pic_boxes[0].picture.photo.url(:layout_03) %>
    <%end%>
  </div>



  <div class="photo-box pic photobook_pic" id="box_03_02" data-chosen="true" data-boxes="true" data-box-number="<%= @page.boxes.order("id ASC")[1].id%>" data-id="<%= @pic_boxes[1].try(:picture).try(:id) %>">

   <% if @pic_boxes[1].nil? %>
   <% else %>
       <%= image_tag @pic_boxes[1].picture.photo.url(:layout_03) %>
   <%end%>
 </div>
</div>


<!-- cl_image_tag("v1552513403/vwv18yb112kphdpkb8xk.jpg", id:"cl_02_01") ==> TO TEST -->

